@import '../main.scss';

.mainContens {
    @include wrapper($baseWidth: $baseWidthSp);
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    @include lg {
        flex-direction: row;
        gap: 10px;
    }
}

.loading {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
