@charset "UTF-8";

// ベースフォントサイズ
$baseFontPx: 16;

// コンテンツ幅
$baseWidth: 1024px;
$baseWidthSp: 94.25%;
$baseWidthPadding: 4.375%;

// ブレークポイント
$lg: 1024px;
$md: 768px;
$sm: 640px;
$xs: 375px;

$textColor: #000000;

$lineHeight: 1.8;
